/****** Generally ***********/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body,
body * {
  display: flex;
  flex-direction: column;
}

body script {
  display: none;
  /* Masquage pour live server */
}

$main-color: #9356DC;
$second-color: #FF79DA;
$bg-color: #F6F6F6;
$location-color: #EAEAEA;
$plater-color: #FFFFFF;
$footer-color: #353535;
$border-color: #99E2D0;
$news-color: #008766;

.shrikhand-regular {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  /*pas de soulignement*/
  color: inherit;
  /*pas de changement de couleur du lien, garde la couleur originale du texte*/
}








/**********header***********/
.header {


  &__container {
    width: 100%;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    z-index: 9999;
  }

  &__logo {
    width: 162px;
    height: 30px;
    margin: 20px 0px 12px 0px;
  }

}

/***************location**************/
.location {
  width: 100%;
  height: 50px;
  background-color: $location-color;
  justify-content: center;
  flex-direction: row;
  gap: 17px;
  align-items: center;
  padding: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 9998;

  p {
    font-size: 16px;
    font-weight: 500;
  }
}


/**********section menu***********/
.menu {
  align-items: center;
  gap: 20px;
  padding: 40px 20px;
  background-color: $bg-color;
  text-align: center;


  &__subtitle {
    font-size: 18px;
    font-weight: 300;
  }

  &__buttonsearch {
    border-radius: 40px;
    width: 218px;
    height: 50px;
    background: linear-gradient(to bottom, $second-color 0%, $main-color 100%);
    justify-content: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    z-index: 1;
    position: relative;

    &:hover {
      &::after {
        opacity: 1;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      z-index: -1;
      transition: opacity 300ms;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
      border-radius: inherit;
      background-color: rgba(225, 225, 225, 0.15);
    }
  }


  &__textbutton {

    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
  }
}

/***********Section explications*************/

.explications {
  gap: 20px;
  padding: 40px 20px;

  &__container {
    gap: 20px;
    padding-left: 12px;
  }

  &__bg {
    height: 72.38px;
    width: 100%;
    background-color: $bg-color;
    border-radius: 20px;
    gap: 30px;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding-left: 40px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);

    i {
      font-size: 18px;
    }

    i:hover {
      color: $main-color;
    }
  }

  &__number {
    font-weight: 500;
    font-size: 14px;
    color: $plater-color;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #9356DC;
    position: absolute;
    left: -12px;
  }
}

/****************restaurants****************/
@mixin pictureposition($position) {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  height: 175px;
  object-fit: cover;
  object-position: $position;
}

.restaurants {
  padding: 40px 20px 30px 20px;
  background-color: $bg-color;
  gap: 20px;
  position: relative;

  &__cardcontent {
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.10);
  }

  &__cardlink {
    z-index: 10;
  }

  &__cardtext {
    padding: 15px 13px;
    flex-direction: row;
    justify-content: space-between;

    p {
      font-size: 17px;
      font-weight: 300;
    }

    h3 {
      font-size: 18px;
      font-weight: 700;
    }
  }

  &__conturn {
    @include pictureposition(bottom);

    &--altposition {
      @include pictureposition(100% 60%);

    }
  }

  &__picture {
    position: relative;
  }

  &__textpicture {
    position: absolute;
    top: 20px;
    right: 10px;
    background-color: $border-color;
    padding: 5px;
    border-radius: 2px;
    color: $news-color;
  }

  &__textcontainer {
    gap: 3px;
  }

  &__heart {
    position: relative;
    top: 5px;
    right: 15px;
    font-size: 21px;
    z-index: 1;
    opacity: 1;

    &:hover {
      &::after {
        opacity: 1;
      }

      &::before {
        opacity: 0;
      }
    }

    &::after {
      font: var(--fa-font-solid);
      content: "\f004";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: linear-gradient(to bottom, $second-color 0%, $main-color 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
      opacity: 0;
      z-index: 2;
      transition: opacity 300ms;

    }
  }
}

  /*****************footer********************/
  @mixin sizetext($font-weight) {
    font-size: 16px;
    font-weight: 400;
  }

  .footer {
    background-color: #353535;
    text-decoration-color: #FFFFFF;
    padding: 22px 25px 22px 25px;
    gap: 16px;
    color: $plater-color;

    &__logo {
      color: #FFFFFF font-size 18px;
    }

    ul {
      gap: 7px;
      font-weight: 400;
      font-size: 16px
    }

    &__online {
      flex-direction: row;
      align-items: center;
      gap: 6px;
      font-weight: 500;

      i {
        font-size: 12px;
        width: 20px;
      }
    }


  }

  /*******************anotherpage******************/
  .header {

    &__logo {
      margin: 20px 0px 12px 0px;
    }
  }

  .description {
    border-radius: 20px 20px 0 0;
    gap: 12px;
    background-color: $bg-color;
    padding: 15px;


    h3 {
      font-size: 18px;
      font-weight: 500;
    }

    p {
      font-size: 15px;
      font-weight: 300;
    }

    &__lefttitle {
      font-size: 16px;
      font-weight: 300;
    }

    &__bgmenuanother {

      height: 69px;
      background-color: $plater-color;
      border-radius: 15px;
      gap: 5px;
      padding: 15px;
    }

  }

  .border {
    width: 40px;
    border: 3px solid $border-color;
  }